<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <mapper namespace="PurchaseMapper"> -->
<mapper namespace="com.model2.mvc.service.purchase.PurchaseDao">
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="tranNo" 			column="tran_no" 			jdbcType="NUMERIC" />
		<result property="paymentOption" 	column="payment_option" 	jdbcType="VARCHAR" />
		<result property="receiverName" 	column="receiver_name" 		jdbcType="VARCHAR" />
		<result property="receiverPhone" 	column="receiver_phone" 	jdbcType="VARCHAR" />
		<result property="divyAddr" 		column="demailaddr" 		jdbcType="VARCHAR" />
		<result property="divyRequest" 		column="dlvy_request"		jdbcType="VARCHAR" />
		<result property="tranCode" 		column="tran_status_code" 	jdbcType="VARCHAR" />
		<result property="orderDate" 		column="order_data" 		jdbcType="DATE" />
		<result property="divyDate" 		column="dlvy_date"			jdbcType="DATE" />
		<association property="purchaseProd" 	column="prod_no" 	select="com.model2.mvc.service.product.ProductDao.getProduct"/>
		<association property="buyer" 			column="buyer_id" 	select="com.model2.mvc.service.user.UserDao.getUser"/>
	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="addPurchase" parameterType="purchase">
	 	INSERT
		INTO transaction (	tran_no, prod_no, buyer_id, payment_option, 
							receiver_name, receiver_phone, demailaddr, dlvy_request, 
							tran_status_code, order_data, dlvy_date ) 
		VALUES (	SEQ_TRANSACTION_TRAN_NO.NEXTVAL, 
					#{purchaseProd.prodNo}, 
					#{buyer.userId}, 
					#{paymentOption}, 
					#{receiverName}, 
					#{receiverPhone}, 
					#{divyAddr}, 
					#{divyRequest}, 
					#{tranCode}, 
					SYSDATE, 
					#{divyDate} )
	</insert>
	
	<!-- SQL : SELECT ONE -->
	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
		SELECT	tran_no, prod_no, buyer_id, payment_option, 
					receiver_name, receiver_phone, demailaddr, dlvy_request, 
					tran_status_code, order_data, dlvy_date 
		FROM 	transaction
		WHERE 	tran_no = #{value}
	</select>

	<!-- SQL : UPDATE -->
	<update id="updatePurchase" parameterType="purchase">
		UPDATE	transaction
	   	<set>
	   		payment_option 	= #{paymentOption},
	   		receiver_name 	= #{receiverName},
	   		receiver_phone 	= #{receiverPhone},
	   		demailaddr 		= #{divyAddr},
	   		dlvy_request 	= #{divyRequest},
	   		dlvy_date 		= #{divyDate}
	   	</set>
		WHERE	tran_no = #{tranNo}
	</update>
	
	<!-- SQL : UPDATE -->
	<update id="updateTranCode" parameterType="purchase">
		UPDATE 	transaction
		SET 	tran_status_code = #{tranCode}
		WHERE 	prod_no = #{purchaseProd.prodNo}
	</update>
	
	<!-- SQL : SELECT LIST -->
	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
	  	SELECT	*
	  	FROM (	SELECT	inner_table.* , ROWNUM AS row_seq
	  			FROM (	SELECT	tran_no, prod_no, buyer_id, payment_option, 
	 								receiver_name, receiver_phone, demailaddr, dlvy_request, 
	 								tran_status_code, order_data, dlvy_date 
						FROM	transaction 
						WHERE 	buyer_id = #{buyerId}
						ORDER BY tran_no
					) inner_table
				WHERE	ROWNUM <![CDATA[<=]]> #{search.endRowNum} 
			)
		WHERE	row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select>
	 
	<!-- SQL : SELECT ROW Count -->	 
	<select id="getTotalCount" parameterType="map" resultType="int">
		SELECT	COUNT(*)
	 	FROM (	SELECT	tran_no, prod_no, buyer_id, payment_option, 
	 						receiver_name, receiver_phone, demailaddr, dlvy_request, 
	 						tran_status_code, order_data, dlvy_date 
				FROM	transaction 
				WHERE 	buyer_id = #{buyerId}
			) countTable			
	</select>
	
</mapper>